<mat-toolbar [color]="'primary'">
  <mat-toolbar-row>
    <button (click)="toggleOpened()"
            mat-icon-button
    >
      <mat-icon>
        menu
      </mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="pages-container">

  <mat-sidenav [opened]="mainMenuOpenned"
               class="menu"
               mode="side"
  >
    <app-menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content class="content-container">
    <mat-card class="principal-card">
      <mat-card-content>
        <router-outlet></router-outlet>
      </mat-card-content>
    </mat-card>
  </mat-sidenav-content>

</mat-sidenav-container>
